<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <PublishTrimmed>false</PublishTrimmed>
    <AssemblyName>TabularStudio</AssemblyName>
    <Version>0.3.1</Version>
    <AssemblyVersion>0.3.1.0</AssemblyVersion>
    <FileVersion>0.3.1.0</FileVersion>
    <InformationalVersion>0.3.1</InformationalVersion>
    <IncludeSourceRevisionInInformationalVersion>false</IncludeSourceRevisionInInformationalVersion>
    <CopyOutputSymbolsToPublishDirectory>false</CopyOutputSymbolsToPublishDirectory>
    <PublishDir>$(MSBuildProjectDirectory)/../../artifacts/publish/win-x64/</PublishDir>
  </PropertyGroup>
  <Target Name="ExcludeReleasePackageSymbols" AfterTargets="ComputeFilesToPublish">
    <ItemGroup>
      <ResolvedFileToPublish Remove="@(ResolvedFileToPublish)" Condition="'%(ResolvedFileToPublish.Extension)' == '.pdb'" />
    </ItemGroup>
  </Target>
</Project>
